# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and Outputs
node_modules
dist
dist-ssr
coverage/
.nyc_output/

# OS Files
.DS_Store
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build caches
.vite/
.next/
.nuxt/
.svelte-kit/
*.tsbuildinfo

# Environment and Credentials
.env
.env.*
*.local
!.env.example
serviceAccountKey*.json
